.section-main{
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.map-box{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    left: -100px;
    border-bottom: 3px solid #e00;
    border-right: 3px solid #e00;
}

.map-box:before{
    content: "";
    width: 200px;
    right: -200px;
    position: absolute;
    border-bottom: 3px solid #e00;
}

.box-move{
    width: 30px;
    height: 30px;
    background-color: #ee0;
    position: absolute;
    left: 10px;
    border: 1px solid #333;
    left: 34px;
    bottom: -15px;
    border-radius: 100%;

    -webkit-animation: ciclo-animacao 10s infinite;
    /*Para Navegadores que não suportam WEBKIT*/
    animation: ciclo-animacao 10s infinite;
}

@-webkit-keyframes ciclo-animacao {
    0% {
        left: 34px;
        bottom: -15px;
    }
    16%	{
        left:235px;
        bottom:	-15px;
        background-color: #0F0;
    }
    32% {
        left:235px;
        bottom:	185px;
        background-color: #00F;
        border-radius: 100%;
    }
    48% {
        left: 435px;
        bottom:	185px;
        background-color: #FFF;
        border-radius: 0%;
    }
    64% {
        left:235px;
        bottom:	185px;
        background-color: #00F;
        border-radius: 0%;
    }
    80% {
        left:235px;
        bottom:	-15px;
        border-radius: 0%;

    }
    96% {
        left: 34px;
        bottom: -15px;
        background-color: #ee0;
        border-radius: 100%;
    }

}
/*Para avegadores que Não suportam WEBKIT*/
@keyframes ciclo-animacao {
    0% {
        left: 34px;
        bottom: -15px;
    }
    16%	{
        left:235px;
        bottom:	-15px;
        background-color: #0F0;
    }
    32% {
        left:235px;
        bottom:	185px;
        background-color: #00F;
        border-radius: 100%;
    }
    48% {
        left: 435px;
        bottom:	185px;
        background-color: #FFF;
        border-radius: 0%;
    }
    64% {
        left:235px;
        bottom:	185px;
        background-color: #00F;
        border-radius: 0%;
    }
    80% {
        left:235px;
        bottom:	-15px;
        border-radius: 0%;

    }
    96% {
        left: 34px;
        bottom: -15px;
        background-color: #ee0;
        border-radius: 100%;
    }

}
